body
{
    background:url('../medias/home.jpg') no-repeat center/cover;
    color:black;
    margin:0;
    padding:0;
}

header
{
    border:1px solid #800;
    margin-bottom:10px;
    height:80px;
    text-align:center;
}

.login
{
    border:1px solid #008;
    margin:10px auto;
    display:block;
    text-align:center;
}

.presentation
{
    margin:0 auto;
    padding:2px;
    background-color:#fff;
    text-align:center;
}

a
{
    text-decoration:none;
    color:#000;
}

.nav_home
{
    margin:10px auto;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.nav_home>a
{
    background-color:#700;
    height:50px;
    margin-bottom:10px;
    color:#fff;
}

.nav_categ
{
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav_site
{
    background-color:#fff;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    position:sticky;
    top:0;
}

footer
{
    border:1px solid #080;
    height:25px;
    text-align:center;
    text-decoration:none;
    color:#000;
}

.hidden
{
    display: none;
}

/*****************************MEMBRE*/
.navMembre
{
    width:80%;
    display:flex;
    margin:0 auto;
}

.categMembre
{
    background-color:black;
    width:15%;
    border-radius:5px 5px 0 0;
    margin-right:2px;
    text-align:center;
    color:white;
}

.artMembre
{
    width:80%;
    margin:50px auto;
}

.listArtMembre
{
    background-color:#800;
    color:#fff;
}

.listArtMembre>p
{
    margin-top:0;
    text-align:center;
}

/*************************CATEGORIE*/
main
{
    width:80%;
    margin:10px auto;
}

.info_kiji
{
    border:2px solid #800;
    border-radius:10px;
    width:80%;
    margin:10px auto;
    text-align:center;
}

/**************************ARTICLES*/
.navarticle
{
    display:flex;
}

.textarticle
{
    background-color:black;
    width:80%;
    margin:0 auto;
    color:white;
}

.textarticle>p
{
    margin:0;
    padding:10px;
}

/******************************FORM*/
.formulaire
{
    display:flex;
    text-align:center;
}

.inscript,
.connex
{
    width:50%;
}

/*******************************HOME*/
@media(min-width:768px)
{
    .nav_home
    {
        flex-direction:row;
        flex-wrap:wrap;
    }

    .nav_home>a
    {
        background-color: #700;
        width: 45%;
        height: 50px;
        margin: 15px auto;
        color: #fff;
    }
}

@media(min-width:1024px)
{
    .nav_home>a
    {
        background-color: #700;
        width: 20%;
        color: #fff;
    }
}

/***************ARTICLES**CATEGORIE*/
@media(min-width:1024px)
{
    main
    {
        width:90%;
        margin:0 auto;
        display:flex;
        gap:20px;
    }
    
    .info_kiji
    {
        border:2px solid #800;
        border-radius:10px;
        width:150px;
        height:150px;
        text-align:center;
        transition:all 800ms;
        transform:scale(1);
    }
    
    .info_kiji:hover
    {
        transition:all 800ms;
        transform:scale(0.8);
    }
}