/*font-family: 'Eagle Lake', cursive;*/
/*font-family: 'Grechen Fuemen', cursive;*/
/*font-family: 'Jim Nightshade', cursive;*/
/*font-family: 'Long Cang', cursive;*/

body
{
    background:url('../medias/home1.jpg') no-repeat center/cover;
    color:#000;
    margin:0;
    padding:0;
}

header
{
    margin:0 auto;
    text-align:center;
}

h1
{
    margin:0 auto;
    font-family: 'Eagle Lake', cursive;
    font-size:40px;
}

.login
{
    background:url('../medias/navig.jpg') no-repeat center/cover;
    height:20px;
    display:block;
    font-family: 'Grechen Fuemen', cursive;
    font-weight:bold;
    text-align:center;
}

.presentation
{
    padding:1px;
    background-color:#e2ba78;
    font-family: 'Jim Nightshade', cursive;
    font-size:25px;
    text-align:center;
}

a
{
    text-decoration:none;
    color:#000;
}

.nav_home
{
    margin:10px auto;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.nav_home>a
{
    background-color:#700;
    height:50px;
    margin-bottom:10px;
    color:#fff;
}

.nav_categ
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Jim Nightshade', cursive;
    background-color:#e2ba78;
}

.nav_categ>a
{
    font-size:20px;
}

.nav_site
{
    background:url('../medias/navig.jpg') no-repeat center/cover;;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-family: 'Jim Nightshade', cursive;
    position:sticky;
    top:0;
}

.nav_site>a
{
    color:#fff;
}

footer
{
    height:25px;
    text-align:center;
    text-decoration:none;
    color:#000;
}

.hidden
{
    display: none;
}

/*****************************MEMBRE*/
.navMembre
{
    background-color:#000;
    border-radius:5px 5px 0 0;
    margin:5px auto 0;
    display:flex;
    justify-content:space-between;
}

.categMembre
{
    background:url('../medias/navMembre.jpg') no-repeat center/cover;
    width: 15%;
    padding: 13px;
    border-radius: 5px;
    font-family: 'Jim Nightshade', cursive;
    font-weight: bold;
    text-align: center;
}

.artMembre
{
    width:80%;
    margin:50px auto;
}

.listArtMembre
{
    background-color:#800;
    color:#fff;
}

.listArtMembre>p
{
    margin-top:0;
    text-align:center;
}

/*************************CATEGORIE*/
main
{
    margin:5px auto;
    justify-content:center;
}

.info_kiji
{
    border:1px solid #800;
    margin:5px auto;
    text-align:center;
}

/**************************ARTICLES*/
.navarticle
{
    display:flex;
}

.textarticle
{
    font-family: 'Long Cang', cursive;
    background-color:black;
    color:white;
}

.textarticle>p
{
    margin:0;
    padding:5px;
}

/*******************************FORM*/
.formulaire
{
    display:flex;
    text-align:center;
}

.inscript,
.connex
{
    width:50%;
}

/*******************************HOME*/
@media(min-width:768px)
{
    h1
    {
        font-size:50px;
    }
    
    .nav_home
    {
        flex-direction:row;
        flex-wrap:wrap;
    }

    .nav_home>a
    {
        background-color: #700;
        width: 45%;
        height: 50px;
        margin: 15px auto;
        color: #fff;
    }
}

@media(min-width:1024px)
{
    .nav_home>a
    {
        background-color: #700;
        width: 20%;
        color: #fff;
    }
    
}

/****************ARTICLES**CATEGORIE*/
@media(min-width:768px)
{
    main
    {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        gap:5px;
    }
    
    main>a
    {
        width:49%;
    }
    
    .info_kiji
    {
        border:1px solid #800;
        text-align:center;
    }
}

@media(min-width:1024px)
{
    main
    {
        width:80%;
    }
    
    main>a
    {
        width:20%;
    }
    
    .info_kiji
    {
        border:1px solid #800;
        border-radius:10px;
        height:150px;
        text-align:center;
        transition:all 800ms;
        transform:scale(1);
    }
    
    .info_kiji:hover
    {
        transition:all 800ms;
        transform:scale(0.8);
    }
}

/******************ARTICLES**MEMBRES*/
@media(min-width:768px)
{
    .navMembre
    {
        height: 45px;
        margin:10px auto 0;
    }
    
    .textarticle
    {
        background-color: #000;
    }
}

@media(min-width:1024px)
{
    .navMembre
    {
        width:80%;
    }
    
    .textarticle
    {
        width:80%;
        margin:0 auto;
    }
}
